// colors

$light-background: #e8e8e8;
$dark-button-grey: #314145;
$dark-button-grey-hover: #45565a;
$dark-button-text-color: white;

$light-grey: rgba(0, 0, 0, 0.6);
$light-grey-overlay: rgba(0, 0, 0, 0.4);

$accent-color-1: #34e3b9;
$accent-color-hover-1: #42a58d;

$white: #fefefe;

$grey-1: #c4c4c4;
$grey-2: #636771;
$grey-3: #4c4f57;
$grey-4: #393b41;
$grey-5: #282a32;
$grey-5-transparent: rgba(40, 42, 50, 0.98);
